<div
  class="flex flex-wrap items-center gap-y-1 font-bold {{variantClass default='gap-x-2 max-md:gap-x-1 text-2xl max-md:text-xl' lg='gap-x-4 max-md:gap-x-3 text-3xl max-md:text-2xl' variant=size}}">
  <div>{{price}} ₽</div>
  {{#if oldPrice}}
  <del class="text-text-tertiary">{{oldPrice}}
    ₽</del>
  {{/if}}

  {{#if discountPercent}}
  <div
    class="flex items-center justify-center rounded-full font-medium text-center text-warning-primary bg-warning-primary/10 {{variantClass default='min-h-7 max-md:min-h-5 min-w-14 max-md:min-w-10 p-1 text-xs max-md:text-2xs' lg='min-h-8 min-w-18 max-md:min-w-16 px-3 py-2 text-base max-md:text-sm' variant=size}}">
    -{{discountPercent}}%</div>
  {{/if}}
</div>