footer(class="pt-10 max-md:pt-6")
  div(class="bg-bg-light-secondary space-y-12 max-lg:space-y-10 max-md:space-y-8 pb-20 max-md:pb-19")
    div(
      class="relative before:absolute before:top-0 before:left-0 before:right-0 before:h-1/2 before:bg-bg-light-primary"
    )
      +container
        div(
          class="relative flex max-lg:flex-col items-center justify-between gap-x-5 py-9 max-md:py-8 px-16 max-md:px-6 rounded-sm bg-bg-dark-primary text-text-secondary max-lg:gap-y-10 max-md:gap-y-8"
        )
          h2(class="heading-sm max-lg:text-center") 
            | Будьте в&nbsp;курсе наших предложений
          form(
            class="space-y-3 w-full max-w-87 max-lg:max-w-100 max-md:max-w-120",
            data-js-newsletter-form,
            novalidate
          )
            +text-field({ icon: "letter", color: "light" })(
              type="email",
              name="email",
              placeholder="Ваш email",
              autocomplete="email",
              required
            )
            +button({ size: "sm", full: "true", color: "light" })(type="submit")
              | Подписаться на новости
    +container
      div(
        class="flex items-start gap-x-10 justify-between mb-12 max-lg:mb-11 max-md:mb-10 max-lg:gap-y-8 max-md:gap-y-6 max-lg:flex-col"
      )
        div(class="w-full max-w-54 max-lg:max-w-90 space-y-9 max-lg:space-y-7 max-md:space-y-5")
          div(class="space-y-6 max-lg:space-y-5 max-md:space-y-4")
            +logo
            div(class="text-sm text-text-primary/60 leading-[1.5]") 
              | У нас есть одежда, которая соответствует вашему стилю и&nbsp;которой вы&nbsp;будете гордиться.
          -
            let socialsContent = [
              { href: "#", icon: "twitter-logo", ariaLabel: "twitter" },
              { href: "#", icon: "github-logo", ariaLabel: "github" },
            ];
          +socials(socialsContent)
        nav(
          class="grid grid-cols-[repeat(4,_auto)] max-md:grid-cols-[repeat(2,_auto)] gap-x-8 max-md:gap-x-4 w-full max-w-220 max-md:gap-y-6"
        )
          -
            let bottomMenu = [
             {
                title: "О компании",
                list: [
                  { href: "#", label: "О нас" },
                  { href: "#", label: "Услуги" },
                  { href: "#", label: "Наши работы" },
                  { href: "#", label: "Карьера" },
                ] 
              },
              {
                title: "Помощь",
                list: [
                  { href: "#", label: "Поддержка клиентов" },
                  { href: "#", label: "Доставка" },
                  { href: "#", label: "Условия использования" },
                  { href: "#", label: "Политика конфиденциальности" },
                ] 
              },
              {
                title: "FAQ",
                list: [
                  { href: "#", label: "Аккаунт" },
                  { href: "#", label: "Доставка" },
                  { href: "#", label: "Заказы" },
                  { href: "#", label: "Оплата" },
                ] 
              },
              {
                title: "Материалы",
                list: [
                  { href: "#", label: "Электронная книга" },
                  { href: "#", label: "Разработчикам" },
                  { href: "#", label: "Блог" },
                  { href: "#", label: "Плейлист на YouTube" },
                ] 
              },
            ]
          +menu-columns(bottomMenu)
      div(
        class="flex flex-wrap items-center justify-between gap-x-4 gap-y-5 max-md:gap-y-4 pt-6 max-lg:pt-5 max-md:pt-4 border-t-1 border-border-primary/10 max-md:flex-col max-md:text-center"
      )
        small(class="text-sm text-text-primary/60")
          +button-link(
            href="https://www.figma.com/community/file/1273571982885059508/e-commerce-website-template-freebie",
            target="_blank"
          ) Дизайн
          |
          | от Hamza Naeem /
          |
          +button-link(
            href="https://creativecommons.org/licenses/by/4.0/",
            target="_blank"
          ) CC BY 4.0
          |
          | / внесены&nbsp;изменения

        ul(class="flex flex-wrap items-center gap-2")
          -
            let paymentContent = [
              { src: "img/payment/visa-logo.svg", alt: "логотип Visa" },
              { src: "img/payment/mastercard-logo.svg", alt: "логотип Mastercard" },
              { src: "img/payment/paypal-logo.svg", alt: "логотип Paypal" },
              { src: "img/payment/apple-pay-logo.svg", alt: "логотип Apple Pay" },
              { src: "img/payment/google-pay-logo.svg", alt: "логотип Google Pay" },
            ];

          each item in paymentContent
            li(
              class="flex items-center justify-center w-12 aspect-[12/8] max-md:w-10 max-md:min-h-7 border-1 border-border-secondary rounded-3xs bg-bg-light-primary"
            )
              +img(src=item.src, width="100", height="45", alt=item.alt, class="w-[79%]")
